  </div> 
  <footer class="footer">
    <div class="footer-container">
      
      <!-- About Section -->
      <div class="footer-section">
        <h3>ABOUT OUR BLOG</h3>
        <p>
          Welcome to ML Insights, a blog created to make the world of Machine Learning accessible, 
          practical, and inspiring for everyone. Our goal is to simplify complex concepts, 
          share hands-on tutorials, and explore real-world applications of ML across industries like 
          healthcare, finance, and education.
        </p>
        <p>
          Whether you are a beginner curious about data and algorithms, a student sharpening your 
          skills, or a professional exploring advanced techniques, this space is designed to guide
           you on your learning journey. We cover everything from data preprocessing and feature selection 
           to building models and staying updated with the latest AI trends.
        </p>
      </div>

      <!-- Contact Section -->
      <div class="footer-section">
        <h3>CONTACT US</h3>
        <p><i class="fa fa-map-marker-alt">  </i>  Address: Malawi University of Business and Applied Sciences, Private Bag 303, Chichiri, Blantyre 3 
          <br><i class="fa fa-phone">  </i>    Phone: (+265) 883 378 482 
          <br><i class="fa fa-paper-plane">  </i>    Email: mlblog@mubas.ac.mw</p>

        <h4>SUPPORT</h4>
        <p>Name: Tatyana Chingeni<br>
        <i class="fa fa-phone">  </i>   Phone: +265 995 662 236<br>
        <i class="fa fa-paper-plane">  </i>    Email: support@mubas.ac.mw</p>
      </div>

    </div>

    
  </footer>
  <button id="topBtn" class="btn-lg rounded-circle" title="Go to top">
        <i class="fa fa-arrow-up"></i>
  </button>

  <div class="container" style="text-align: center;">
      &copy; <%= new Date().getFullYear() %> MUBAS ML Blog
  </div>

  <!-- Bootstrap bundle JS CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- Client-side validation JS -->
  <script src="/js/scripts.js"></script>

</body>
</html>
