<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">Blog App</a>
        <a class="nav-link" href="/posts">Posts</a>
        <a class="nav-link" href="/posts/new">New Post</a>
    </nav>
    <div class="container">

    