.welcome{
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: #022949;
}

/* -------------------NAV BAR -------------------- */

.custom-navbar {
  background-color: #022949;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #ffffff; /* Make sure text is readable */
}

/* -------------------------------------------------- */

.edit-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}/*Make page take full height*/
html, body {
  height: 100%;
  margin: 0;
}

/* Adding flexbox layout*/
body {
  display: flex;
  flex-direction: column;
}

/* Container to push footer at the bottom */
.container {
  flex: 1; 
}

/* Styling footer */

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hidden by default */
  z-index: 1000;
  color: #022949;
}


footer {
  background-color: white;
  color: #343a40;
  text-align: center;
  padding: 40px;
  width: 86%;
  align-items: center;
  margin-left: 7%;
  margin-bottom: 20px;margin-top: 50px;
  border-radius: 6px;
}
.form-label{
    padding-bottom: 10px;
    padding-top: 10px;
}


/*Create page*/
.btn-primary {
  background-color: #007bff;
  border: none;
  transition: transform 0.5s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover{
  background-color: #022949;   /* Darker blue */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* -------------------------------- */

/* General Footer Styling */
.footer {
  background-color: #022949; /* Dark blue background */
  color: #b0b0b1;
  font-family: Arial, sans-serif;
  padding: 40px 20px 10px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-section h3, 
.footer-section h4 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.footer-section p {
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
  width: 350px;
}
